@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
@import './Index.scss';
@import './Menu.scss';
@import './Nosotros.scss';
@import './Sucursales.scss';
@import './Contacto.scss';
@import './Medias.scss';
